<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Comic Book Tracker</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Comic Book Tracker</h1>

  <!-- Form new comic -->
  <section id="add-comic">
    <h2>Add a Comic</h2>
    <form action="/comics/add" method="POST">
      <input type="text" placeholder="Comic Title" name="title" required>
      <input type="text" placeholder="Author" name="author" required>
      <button type="submit">Add to Want to Read</button>
    </form>
  </section>

  <!-- Want to Read List -->
  <section id="comic-lists">
    <div id="want-to-read">
      <h2>Want to Read</h2>
      <ul class="comic-list">
        <% for (var i = 0; i < comics.length; i++) { %>
          <% if (comics[i].read==false) { %>
            <li class="comic-item">
              <span><%= comics[i].title %></span>
              <span><%= comics[i].author %></span>
              <button class="move-to-read">Mark as read</button>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>

    <!-- Read list -->
    <div id="read">
      <h2>Read</h2>
      <ul class="comic-list">
        <% for (var i = 0; i < comics.length; i++) { %>
          <% if (comics[i].read==true) { %>
            <li class="comic-item">
              <span><%= comics[i].title %></span>
              <span><%= comics[i].author %></span>
              <button class="move-to-want">Mark as Unread</button>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </section>

  <script src="main.js"></script>
</body>
</html>